@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: white;
}
/* history section */
.wrap {
  display: flex;
  flex-direction: row;
  margin: 40px 20px 0 20px;
  align-content: center;
  align-items: center;
  justify-content: start;
  justify-items: start;
  padding: 16px;
}
.wrap h1 {
  font-weight: 600;
  font-size: 42px;
  margin-left: 5%;
  font-style: normal;
  text-transform: uppercase;
}
#gambar {
  margin-top: 16px;
  background-repeat: no-repeat;
  margin-left: 8%;
}
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  justify-items: center;
  padding: 16px;
  row-gap: -1px;
}
.content p {
  max-width: 600px;
  font-weight: 500;
  text-align: start;
  font-size: 12px;
}
.content h6 {
  width: 500px;
  font-weight: 500;
  text-align: start;
  font-size: 12px;
  margin-bottom: 8px;
}
h6 .more a {
  text-decoration: none;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 769px) {
  .wrap .heading {
    flex-direction: column;
  }

  .wrap .heading {
    width: 100%;
  }
}
@media only screen and (max-width: 643px) {
  .wrap .heading {
    width: 500px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .heading h1 {
    font-size: 24px;
  }
  .heading img {
    display: none;
  }
  .content {
    grid-template-columns: 1fr;
    margin-top: 6px;
  }
  .content p h6 {
    justify-content: flex-start;
    text-align: start;
  }
}
